*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: papayawhip;
}

.calcMain{
    margin: 10px auto 10px;
    border: rgb(32, 32, 32) solid 2px;
    height: 90vh;
    width: 60%;
    border-radius: 7%;
    background-color: rgb(212, 212, 212);
}

#dispace{
    border: 2.5px solid black;
    height: 50px;
    width: 80%;
    margin: 20px 0px 10px 20px;
    border-radius: 10px;
    align-items: center;
    font-size: 2rem;
    padding: 0.1rem;
}

#disText{
    margin-left: 50px;
}

.Btns{
    margin: 20px 10px 20px 30px;
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(6, 75px);
}

.Btn{
    width: 60px;
    height: 60px;
    border-radius: 30%;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    background: black;
    color: rgb(253, 253, 253);
}








